<div id="container">
  <h1>Trans-Friendly Medical Providers</h1>

  
  {{#g-map lat="39.0986106" lng="-98.6166598" zoom=4 as |g|}}
    {{#each this.model as |provider|}}
      {{#g.marker lat=provider.latlon.[0] lng=provider.latlon.[1] onClick=(action "toggle" provider) as |m|}}
        {{#m.infoWindow isOpen=provider.markerOpen }}
          <div class="provider-card">
            <h3>{{provider.name}}</h3>
            <h4>{{provider.description}}</h4>
            <a href={{provider.website}}>Website</a>
            <div class="address-box">
              <p>{{provider.address1}}</p>
              <p>{{provider.address2}}</p>
              <p>{{provider.city}}</p>
              <p>{{provider.state}}</p>
              <p>{{provider.zip}}</p>
            </div>
            <p>{{provider.phone}}</p>
          </div>
        {{/m.infoWindow}}
      {{/g.marker}}
    {{/each}}
  {{/g-map}}

  {{#if errorMessage}}
    {{#each errorMessage as |e|}}
      <p class="error">{{e}}</p>
    {{/each}}
  {{/if}}

  <h3>New Provider</h3>
  <form {{action "save" on="submit"}}>
    <section>
      <h4>The Basics</h4>
      <label for="name">Name</label>
      {{input name="name" value=this.name}}
      <label for="description">Description</label>
      {{input name="description" value=this.description}}
      <label for="website">Website</label>
      {{input name="website" value=this.website}}
      <label for="phone">Phone</label>
      {{input name="phone" value=this.phone}}
    </section>
    <section>
      <h4>Address</h4>
      <label for="address1">Line 1</label>
      {{input name="address1" value=this.address1}}
      <label for="address2">Line 2</label>
      {{input name="address2" value=this.address2}}
      <label for="city">City</label>
      {{input name="city" value=this.city}}
      <label for="state">State</label>
      {{input name="state" value=this.state}}
      <label for="zip">Zip</label>
      {{input name="zip" value=this.zip}}
      </section>
      <button type="submit">Submit</button>
  </form>



  {{!-- <h2>Providers</h2>
  <div class="flex-container">
    {{#each this.model as |provider|}}
      <div class="provider-card">
        <h3>{{provider.name}}</h3>
        <h4>{{provider.description}}</h4>
        <a href={{provider.website}}>Website</a>
        <div class="address-box">
          <p>{{provider.address1}}</p>
          <p>{{provider.address2}}</p>
          <p>{{provider.city}}</p>
          <p>{{provider.state}}</p>
          <p>{{provider.zip}}</p>
        </div>
        <p>{{provider.phone}}</p>
      </div>
    {{/each}}
  </div> --}}
</div>


{{outlet}}